[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A hello world exercise for ECSE 321
[access "refs/*"]
	owner = group user/JacobMcConnell
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/JacobMcConnell
	label-Verified = -1..+1 group user/JacobMcConnell
	push = group user/JacobMcConnell
	read = group user/JacobMcConnell
	rebase = group user/JacobMcConnell
	removeReviewer = group user/JacobMcConnell
	submit = group user/JacobMcConnell
[access "refs/heads/*"]
	create = group user/JacobMcConnell
	push = +force group user/JacobMcConnell
	pushMerge = group user/JacobMcConnell
	read = group user/JacobMcConnell
[access "refs/tags/*"]
	push = group user/JacobMcConnell
	push = +force group user/JacobMcConnell
